.fundo
    {
        width:900px;
        height:900px;
        top:150%;
        left:150%;
        margin-top:-100px;
        margin-left:-100px;
        position: absolute;

   }     
.texto{
    font-family: calibri;
    font-size: 120%;
    font-style: oblique;
}